<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirige sitemap.xml vers sitemap.php
    RewriteRule ^sitemap\.xml$ sitemap.php [L]
    
    # Redirection index.php standard
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>